<h3>Detall del viatge <span class="label label-default">{{origin}}</span> - <span class="label label-default">{{destination}}</span></h3>

<div class="input-group">

  <label>Data inici: <input ng-model="travel.tra_date" type="date" class="form-control" placeholder="Recipient's username" id="startDate" ng-readonly="!editMode"></input></label>

  <label>Durada: <input ng-model="travel.tra_num_days" type="number" class="form-control" placeholder="Recipient's username" ng-readonly="!editMode"></input></label>
  <br/>
  <label>Descripció:
    <textarea ng-model="tra_description" class="form-control" ng-readonly="!editMode" class="">{{description}}</textarea>
  </label>
  <br/>
  <label>Data tancament: <input ng-model="travel.tra_planning_limit" type="date" class="form-control" placeholder="Recipient's username" ng-readonly="!editMode"></input></label>
  <br/>
  <label>Mínim participants:
    <input type="number" ng-readonly="!editMode" class="form-control" ng-model="travel.tra_persons_min"></input>
  </label>
  <label>Màxim participants:
    <input type="number" ng-readonly="!editMode" class="form-control" ng-model="travel.tra_persons_max"></input>
  </label>
  <br/>
  <label>Pressupost mínim: <input class="form-control" ng-readonly="!editMode" ng-model="travel.tra_budget_min" type="number"></label></label>
  <label>Pressupost màxim: <input class="form-control" ng-readonly="!editMode" ng-model="travel.tra_budget_max" type="number"></label></label>

</div>
<button type="button" class="btn btn-default" ng-click="toggleEditMode()">Editar</button>
<button type="button" class="btn btn-default">Unir-se</button>

<button ng-disabled="!editMode" type="submit" class="btn btn-default">Guardar</button>
<button ng-disabled="!editMode" type="submit" ng-click="toggleEditMode()" class="btn btn-default">Cancel·lar</button>


<hr>

<h3>Topics</h3>

<div class="list-group">

    <a ng-repeat="topic in topics" href="topics/{topic.id}" class="list-group-item" >
      {{topic.name}}
      <span class="badge">Propostes:{{topic.proposals | size}}</span>
    </a>

</div>

<div class="list-group">


</div>
