<h1>Detall del viatge</h1>
<form>
  <h3><span class="label label-default">{{travel.tra_origin}}</span> - <span class="label label-default">{{travel.tra_destination}}</span>
  </h3>

  <div class="row form-group">

    <div class="col-sm-4">
      <label for="tra_date">Data inici: </label>
      <input id="tra_date" ng-model="travel.tra_date" type="date" class="form-control"
             placeholder="Recipient's username" ng-readonly="!editMode"/>
    </div>
    <div class="col-sm-4">
      <label for="tra_num_days">Durada: </label>
      <input id="tra_num_days" ng-model="travel.tra_num_days" type="number" class="form-control"
             placeholder="Recipient's username" ng-readonly="!editMode"/>
    </div>
    <div class="col-sm-4">
      <label for="tra_planning_limit">Data tancament: </label>
      <input id="tra_planning_limit" ng-model="travel.tra_planning_limit" type="date" class="form-control"
             placeholder="Recipient's username" ng-readonly="!editMode"/>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-12">
      <label for="tra_description">Descripció:</label>
      <textarea id="tra_description" ng-model="travel.tra_description" class="form-control" ng-readonly="!editMode"
                class="">{{travel.tra_description}}</textarea>

    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-6">
      <label for="tra_persons_min">Mínim participants:</label>
      <input id="tra_persons_min" min="2" type="number" ng-readonly="!editMode" class="form-control"
             ng-model="travel.tra_persons_min"/>

    </div>
    <div class="col-sm-6">
      <label for="tra_persons_max">Màxim participants:</label>
      <input id="tra_persons_max" min="2" type="number" ng-readonly="!editMode" class="form-control"
             ng-model="travel.tra_persons_max"/>

    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-6">
      <label for="tra_budget_min">Pressupost mínim: </label>
      <input id="tra_budget_min" class="form-control" ng-readonly="!editMode" ng-model="travel.tra_budget_min"
             type="number"></label>
    </div>
    <div class="col-sm-6">
      <label for="tra_budget_max">Pressupost màxim: </label>
      <input id="tra_budget_max" class="form-control" ng-readonly="!editMode" ng-model="travel.tra_budget_max"
             type="number"></label>
    </div>
  </div>

  <div ng-show="userIsAdmin" class="row form-group">
    <div class="col-sm-12">
      <button ng-show="!editMode" type="button" class="btn" ng-click="toggleEditMode()">Editar</button>

      <button ng-show="!editMode" type="submit" ng-click="delete()" class="btn btn-danger">
        Eliminar
      </button>

      <button ng-show="editMode" type="submit" ng-click="save()" class="btn btn-primary btn">
        Guardar
      </button>
      <button ng-show="editMode" type="submit" ng-click="toggleEditMode()" class="btn">
        Cancel·lar
      </button>
    </div>
  </div>
</form>

<hr>

<div class="row">

  <div class="list-group col col-sm-6">
    <h4>Viatgers</h4>
    <a ng-repeat="user in users" href="users/{{user.usr_id}}?userid={{userId}}" class="list-group-item">
      {{user.usr_name}}
    </a>
    <br/>
    <button ng-show="!userIsAdmin && !userIsTraveler()" type="button" class="btn btn-primary" ng-click="join()">
      Unir-se
    </button>
    <button ng-show="!userIsAdmin && userIsTraveler()" type="button" class="btn btn-danger" ng-click="leave()">
      Abandonar
    </button>
  </div>

  <div class="list-group col col-sm-6">
    <h4>Temes</h4>
    <a ng-repeat="topic in topics" href="http://discuss.trabel.me/topics/{{topic.top_id}}?userid={{userId}}"
       class="list-group-item">
      {{topic.top_name}}
      <span class="badge">Propostes:{{topic.topicProposals | size}}</span>
    </a>
  </div>
</div>

<div class="list-group">
  <a class="btn btn-info pull-right" href="http://search.trabels.me/#/travels?user_id={{userId}}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Anar al llistat de viatges</a>

</div>
