<div class="container">
    <h1>Crear Viatge</h1>

    <form >
        <h3>Datus generals</h3>

        <!-- ORIGIN-->
        <div class="row form-group">
            <div class="col-md-12">
                <label for="origin">Origen</label>
                <input type="text" class="form-control" ng-model="new.travel.tra_origin" id="origin" placeholder="Origen" ng-autocomplete options="options" required>
            </div>
        </div>

        <!-- DESTINATION-->
        <div class="row form-group">
            <div class="col-md-12">
                <label for="destination">Destinació</label>
                <input type="text" class="form-control" ng-model="new.travel.tra_destination" id="destination" placeholder="Destinació" ng-autocomplete options="options" details="details" required>

                <ui-gmap-google-map ng-if="showmap" center='map.center' zoom='map.zoom'>
                  <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>

        <!-- DIES -->
        <div class="row form-group">
            <div class="col-md-6">
                <label for="days">Dies</label>
                <input type="text" class="form-control" id="days" ng-model="new.travel.tra_num_days" placeholder="Dies" required>
            </div>
        </div>

        <!-- PREU-->
        <div class="row form-group">
            <div class="col-md-6">
              <label for="price_max">Preu min</label>
              <div class="input-group">
                <input type="text" class="form-control" id="price_max" ng-model="new.travel.tra_budget_min"  placeholder="Preu min" aria-describedby="basic-addon2" required>
                <span class="input-group-addon" id="basic-addon2">€</span>
              </div>



            </div>
            <div class="col-md-6">
                <label for="price_min">Preu max</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="price_min" ng-model="new.travel.tra_budget_max" placeholder="Preu max" aria-describedby="basic-addon3" required>
                  <span class="input-group-addon" id="basic-addon3">€</span>
                </div>
            </div>
        </div>

        <!-- DATE-->
        <div class="row form-group">
            <div class="col-md-6">
                <label for="date-limit">Data sortida</label>

                <input
                        type="text"
                        class="form-control"
                        id="date-limit"
                        ng-model="new.travel.tra_date"
                        pick-a-date="curDate"
                        pick-a-date-options="{ format: 'dd/mm/yy', selectYears: true }"
                        placeholder="Data sortida"
                        required>
            </div>
            <div class="col-md-6">
                <label for="date-limit">Data limit</label>
                <input
                        type="text"
                        class="form-control"
                        id="date-limit"
                        pick-a-date="curDate"
                        pick-a-date-options="{ format: 'dd/mm/yy', selectYears: true }"
                        ng-model="new.travel.tra_planning_limit"
                        placeholder="Data limit"
                        required>

            </div>
        </div>

        <!-- PEOPLE-->
        <div class="row form-group">
            <div class="col-md-6">
                <label for="people">Persones min</label>
                <input type="text" class="form-control" id="people" ng-model="new.travel.tra_persons_min" placeholder="Persones min" required>
            </div>
            <div class="col-md-6">
                <label for="people">Persones max</label>
                <input type="text" class="form-control" id="people" ng-model="new.travel.tra_persons_max" placeholder="Persones max" required>
            </div>
        </div>

        <!-- DESCRIPTION-->
        <div class="row form-group">
            <div class="col-md-12">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" ng-model="new.travel.tra_description" name="description" placeholder="Description" required></textarea>
            </div>
        </div>

        <h3>Temes</h3>

          <ul class="list-group">
            <li ng-repeat="tema in temes.defaults" class="list-group-item">
              <label class="checkbox">

                <span class="done-{{tema.done}}">{{tema.text}}</span>
              </label>
            </li>
          </ul>

          <div class="input-group">
            <div class="col-md-10">
              <input type="text" ng-model="temes.newtema"  size="30" class="form-control" placeholder="Inserta un nou tema">
            </div>
            <div class="col-md-2">
              <button class="btn btn-info" ng-click="addTema()" >Nou tema</button>
              </div>
         </div>


<br><br><br>
        <!-- SUBMIT -->
        <div class="row form-group text-center">
            <div class="col-md-12">
                <button type="button" class="btn btn-lg btn-primary" ng-click="save()">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Crear Viatge
                </button>
            </div>
        </div>
    </form>
</div>


