<div class="container">
    <h1>Crear Viatge</h1>

    <form >
        <h3>Datus generals</h3>

        <!-- ORIGIN-->
        <div class="row form-group">
            <div class="col-md-12">
                <label for="origin">Origen</label>
                <input type="text" class="form-control" ng-model="new.travel.tra_origin" id="origin" placeholder="Origen" ng-autocomplete options="options" required>
            </div>
        </div>

        <!-- DESTINATION-->
        <div class="row form-group">
            <div class="col-md-12">
                <label for="destination">Destinació</label>
                <input type="text" class="form-control" ng-model="new.travel.tra_destination" id="destination" placeholder="Destinació" ng-autocomplete options="options" details="details" required>

                <ui-gmap-google-map ng-if="showmap" center='map.center' zoom='map.zoom'>
                  <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>

        <!-- DIES -->
        <div class="row form-group">
            <div class="col-md-6">
                <label for="days">Dies</label>
                <input type="text" class="form-control" id="days" ng-model="new.travel.tra_num_days" placeholder="Dies" required>
            </div>
        </div>

        <!-- PREU-->
        <div class="row form-group">
            <div class="col-md-6">
                <label for="price_max">Preu min</label>
                <input type="text" class="form-control" id="price_max" ng-model="new.travel.tra_budget_min"  placeholder="Preu min" required>
            </div>
            <div class="col-md-6">
                <label for="price_min">Preu max</label>
                <input type="text" class="form-control" id="price_min" ng-model="new.travel.tra_budget_max" placeholder="Preu max" required>
            </div>
        </div>

        <!-- DATE-->
        <div class="row form-group">
            <div class="col-md-6">
                <label for="date-limit">Data sortida</label>

                <input
                        type="text"
                        class="form-control"
                        id="date-limit"
                        ng-model="new.travel.tra_date"
                        pick-a-date="curDate"
                        pick-a-date-options="{ format: 'dd/mm/yy', selectYears: true }"
                        placeholder="Data sortida"
                        required>
            </div>
            <div class="col-md-6">
                <label for="date-limit">Data limit</label>
                <input
                        type="text"
                        class="form-control"
                        id="date-limit"
                        pick-a-date="curDate"
                        pick-a-date-options="{ format: 'dd/mm/yy', selectYears: true }"
                        ng-model="new.travel.tra_planning_limit"
                        placeholder="Data limit"
                        required>

            </div>
        </div>

        <!-- PEOPLE-->
        <div class="row form-group">
            <div class="col-md-6">
                <label for="people">Persones min</label>
                <input type="text" class="form-control" id="people" ng-model="new.travel.tra_persons_min" placeholder="Persones min" required>
            </div>
            <div class="col-md-6">
                <label for="people">Persones max</label>
                <input type="text" class="form-control" id="people" ng-model="new.travel.tra_persons_max" placeholder="Persones max" required>
            </div>
        </div>

        <!-- DESCRIPTION-->
        <div class="row form-group">
            <div class="col-md-12">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" ng-model="new.travel.tra_description" name="description" placeholder="Description" required></textarea>
            </div>
        </div>

        <h3>Temes</h3>

          <ul class="unstyled">
            <li ng-repeat="tema in temes.defaults">
              <label class="checkbox">

                <span class="done-{{tema.done}}">{{tema.text}}</span>
              </label>
            </li>
          </ul>

          <input type="text" ng-model="temes.newtema"  size="30"
                 placeholder="Inserta un nou tema">
          <button class="btn-primary" type="submit" ng-click="addTema()" >Nou tema</button>


        <!-- SUBMIT -->
        <div class="row form-group">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" ng-click="save()">Crear</button>
            </div>
        </div>
    </form>
</div>


